.bottom-bar-home {
    position: fixed;
    bottom: 10%;
    width: 70%;
    left:15%;
    height: 140px;
    border-radius: 40px;
    background: #00000080;
    display: flex;
}

.player-head {
    position: fixed;
    left: 20%;
    bottom: 14.5%;
    background-image: url("../../images/default/setve.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.player-head:hover {
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.settings-btn {
    position: fixed;
    right: 20%;
    bottom: 14.5%;
    text-align: center;
    height: 75px;
    width: 75px;
    background-color: #797979;
    border: none;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.settings-btn:hover {
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.icon-settings:before {
    font-size: 40px;
}

.play-element {
    position: fixed !important;
    left: 50%;
    transform: translate(-50%);
    height: 140px;
    width: 300px;
    color: #F1F1F1;
    font: normal normal bold 19px/29px Poppins;
    text-align: center;
}

.play-btn {
    position: fixed;
    top: 32%;
    left: 15%;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background: #00bd7a;
    font: normal normal bold 30px/35px Poppins;
    color: #121212;
    box-shadow: 0 0 5px #00bd7a;
}

.download-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-download,
.progress-bar {
    display: none;
}

.text-download {
    font-size: 15px;
}

.progress-bar {
    background-color: transparent;
    height: 10px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #797979;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: #00bd7a;
    border-radius: 10px;
}

.body-home {
    display: flex;
    height: 78vh;
    margin: 3rem 2rem;
}

.opacity-1 {
    opacity: 1;
}

.info-list {
    position: relative;
    width: 65vh;
    padding-left: 1rem;
    background: none;
}

.server {
    position: fixed !important;
    left: 25%;
    width: 50%;
    height: 75px;
    top: 15%;
    background-color: #292929;
    border-radius: 10px;
    transition: opacity 1s;
    opacity: .6;
}

.server:hover {
    transition: opacity 1s;
    opacity: 1;
}

.server-img {
    position: absolute;
    width: 42px;
    height: 45px;
    top: 15px;
    left: 15px;
}

.name {
    position: absolute;
    font: normal normal bold 17px/25px Poppins;
    color: #E1E1E1;
    top: 17px;
    left: 70px;
    transition: color .2s;
}

.desc {
    position: absolute;
    font: normal normal normal 11px/17px Poppins;
    color: #E1E1E1;
    transition: all .2s;
    top: 40px;
    left: 70px;
    transition: color .2s;
}

.green {
    color: #1AC707;
}

.red {
    color: #FF0409;
}

.etat-text {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 49px;
    height: 33px;
    background-color: #262626;
    border-radius: 4px;
    transition: background-color .2s;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: normal normal bold 13px/15px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    transition: color .2s;
}

.online {
    position: absolute;
    top: -6px;
    left: 41px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #1A1A1A;
    transition: all .2s;
    background-color: #1AC707;
}

.online.off {
    background-color: #FF0409;
}