/* Harmonisation des couleurs */
body {
    background-color: #BAF3DB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* Bottom bar */
.bottom-bar-home {
    left: 20%;
    top: 80%;
    position: fixed;
    bottom: 0;
    width: 60%;
    height: 70px;
    border-radius: 40px;
    background-color: #299568; /* Couleur foncée */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Bouton Jouer centré */
.play-element, .server-text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font: normal bold 19px Poppins;
    text-align: center;
}

.play-btn {
    width: 160px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: #299568; /* Couleur moyenne */
    font: normal bold 30px Poppins;
    color: #FFFFFF;
    box-shadow: 0 0 8px #299568;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.download-content {
    display: none;
}

.div-settings{
    padding: 10px;
}

.play-btn:hover {
    background-color: #1F7A5B;
    box-shadow: 0 0 12px #1F7A5B;
}

/* Autres éléments de la barre du bas */
.player-head, .settings-btn {
    background-color: #BAF3DB; /* Couleur claire */
    transition: background-color 0.3s ease;
}

.player-head:hover, .settings-btn:hover {
    background-color: #299568;
}

/* Style pour les serveurs dans body-home */
.body-home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 2rem;
    color: #FFFFFF;
}

.info-list {
    background: #299568; /* Couleur moyenne */
    padding: 20px;
    border-radius: 15px;
}

.server {
    display: flex;
    align-items: center;
    background-color: #1F7A5B;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0px;
    color: #FFFFFF;
}

.server:hover {
    background-color: #145643;
}

/* Textes et autres éléments */
.name, .desc, .etat-text, .online {
    color: #FFFFFF;
}

.red {
    color: #FF6B6B;
}

.green {
    color: #1AC707;
}
